body {
    background-color: #0a0a0a;
    color: white;
}

.game {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 23px;
    font-family: monospace;
    color: #df73ff;
    text-shadow: 0 0 5px #df73ff, 0 0 10px #df73ff, 0 0 15px #df73ff;
}

li {
    padding: 0px;
    margin-top: 30px;
    text-align: center;
    font-size: 19px;
    margin-bottom: 5px;
}

.section {
    color: rgb(225, 88, 230);
    text-shadow: 0 0 3px rgb(225, 88, 230), 0 0 3px rgb(225, 88, 230), 0 0 4px rgb(225, 88, 230);
    list-style-type: none;
}

p {
    font-size: 13px;
    font-family: monospace;
    text-shadow: none;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.desc {
    display: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    color: grey;
}

.mode {
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.section {
    list-style-type: none;
    padding: 0;
}
